* {
  margin: 0;
  padding: 0;
}
image {
  width: 100%;
  height: auto;
}
:root {
  --primary: #c7a7c7ff;
  --primaryLighter: #e9d1ffff;
  --primaryDarker: #9c799cff;
  --black: #000000ff;
  --accent: #fff6c5ff;
  --buttonTextColor: #000000ff;
}
html.alt {
  --primary: #e36573ff;
  --primaryLighter: #da9896ff;
  --primaryDarker: #a9363aff;
  --black: #000000ff;
  --accent: #1e463cff;
  --buttonTextColor: #ffe5e5ff;
}
@font-face {
  font-family: londrina;
  src: url(/font/londrinasolid-regular-webfont.woff2);
}
@font-face {
  font-family: londrinaBlack;
  src: url(/font/londrinasolid-black-webfont.woff2);
}
@font-face {
  font-family: londrinaLight;
  src: url(/font/londrinasolid-light-webfont.woff2);
}
@font-face {
  font-family: londrinaThin;
  src: url(/font/londrinasolid-thin-webfont.woff2);
}

* {
  font-family: londrina, sans-serif;
}
h1{
  font-size: 128px;
}
h2{
  font-size: 64px;
}
h3{
  font-size: 48px;
}
p{
  font-size:32px ;
}

h2, h3, p{
  place-self: center;
}
